// compass
@import "compass", 
        "compass/reset",
        "compass/css3",
        "compass/css3/flexbox";

// ** grids
@import "susy";

$susy:(
    columns: 12,
    container: 940px,
    //debug: (image: show)
);

// modules
@import "_modules/_base",
        "_modules/_variables",
        "_modules/_classes";

// partials
@import "_partials/_layout",
        "_partials/_typography",
        "_partials/_header",
        "_partials/_banner",
        "_partials/_main",
        "_partials/_sidebar",
        "_partials/_footerNav",
        "_partials/_footer";

// vendor
@import "_vendor/_slider";