main {
    // sidebar
    aside {
        margin-top: 15px;
        padding: 16px 14px;
        @include span(3 of 12);
        border: $border-default $border-color;
        h2 {
            color: $subtitle-color;
            @include font-size($font-size-big);
            padding-bottom: 14px;
        }
        ul {
            li {
                h3, a {
                    display: inline-block;
                }
                h3 {
                    color: $link-color;
                    @include font-size($font-size-medium);
                    font-weight: $font-weight-bold;
                    padding: 10px 0 10px 17px;
                    @extend .bullet;
                }
                a {
                    @include font-size($font-size-small);
                    margin-bottom: 10px;
                }
            }
        }
    }
}