// ** variables

// colors
$text-color: #898989;
$border-color: #c9c9c9;
$header-color: #eee;
$title-color: #ec007a;
$subtitle-color: #f7941e;
$link-color: #20b7ce;
$light-color: #fff;
$button-background-color: #8c8c8c;
$shadow-color: #000;
$transparent-dark-color: rgba(0,0,0, .8);

// font-family
$font-default: open_sansregular;

// font-sizes
$font-size-default: 20px;
$font-size-smallest: 12px;
$font-size-small: 13px;
$font-size-medium: 14px;
$font-size-big: 16px;

// font-weights
$font-weight-light: 100;
$font-weight-regular: normal;
$font-weight-semibold: 600;
$font-weight-bold: 800;

// borders weight
$border-default: 1px solid;
